body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

/* .logo{
    margin: 0px;
padding-left: 20px;
padding-top: 20px;
} */

h1,h3,h4,h5,h6,a{
    font-family: 'Fjalla One',san-serif;
    font-weight: normal;
    letter-spacing: -0.2px;
    color: black;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    color:white ;
    margin: 0px 100px 0px 10px;
}

h1 strong {
    color: #0984E2;
}

.portfolio{
    background-color:#E1E2E4 ;
padding:20px;
}
h2{
   font-family: 'Source Sans Pro',san-serif;
   font-weight: bold;
   font-size: 25px;
   letter-spacing: -0.2px;
   color:#0984E2;
   text-transform: uppercase;
   margin-bottom: 40px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    padding:20px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
 
.project-title{
    font-size: 30px;
    margin-top:0;
    margin-bottom: 10px;
}

.project-tech,.project-date{
    margin: 10px 0;
}

.description{
    font-family: 'Source Sans Pro';
    padding: 15px;
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One',sans-serif;
}

.project-details{
    width: 500px;
}

.project-image{
    display: inline;
}

.project-image-container{
    width: 500px;
    display: inline;
}

body h2{
    padding: 20px;
}

.cursos{
    display: flex;
    flex-wrap: wrap;
}

.curso{
    border: 1px solid black;
    margin: 10px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}

.curso-details{
    margin: 20px 40px;
    margin-top: -135px;
    padding: 20px;
    background-color: white;
    position:relative;
    text-align: center;
    border-radius: 10px;
}

.curso-description{
    text-align: left;
}

.curso-url{
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px 10px;
    color: #0984E2;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.curso img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.header{
    background-color: #1d252c;
    color: white;
    height: 90px;
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ol,ul{
list-style: none;
margin: 0;
padding: 0;
}

figure{
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    display:flex;
    align-items: center;
    height: inherit;
    padding: 0 15px;
}

.hero{
    height: 300px;
    background-color: #626262;
    /* background-image: url('../perfil.jpg');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position-x:right ; */
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.hero-image{
    object-fit: cover;
}
.contacto{
    background-color: #0984E2;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacto h3{
    margin: 0 15px;
    color: white;
    font-family: 'Source Sans Pro',san-serif;
    font-weight: normal;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

.social{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}

.social-link{
display: inline-block;
width: 50px;
height: 50px;
margin: 0 10px;
background-size: 50px 50px;
}

.social-link.face{
background-image: url('../images/facebook.svg');
}
.social-link.twt{
 background-image: url('../images/twitter.svg');   
}
.social-link.git{
 background-image: url('../images/github.svg');   
}
.social-link.inst{
 background-image: url('../images/instagram.svg');   
}

.form-email input{
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 5px;
    border-style: solid;
    color: gray;
    padding: 10px 10px 10px 30px;
    background-image: url('../images/envelope.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position-y: center;
    background-position-x: 10px;
}
.form-email button{
    margin-top: 10px;
    margin-left: 35px;
    display: block;
    background: transparent;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 0px;
    width: 100px;
    border-style: solid;
}

.footer{
    height: 70px;
    color:white;
    background-color: #1b2127;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
vertical-align: middle;
}
.footer a{
    color: white;
}
.container{
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    height: inherit;
    margin: 0 auto;
    width: 1000px;
    flex-wrap: inherit;
}